@import '../variables';
.table {
  width: 100%;
  border-spacing: 0;
  margin: .5rem 0;
  th {
    text-align: left;
  }
  th, td {
    padding: .4rem;
  }
  thead {
    background-color: $gray-light-3;
  }
  tbody {
    tr:nth-child(even) {
      background-color: $gray-light-4;
    }
  }
}
