.header {
  position: relative;
  height: $nav-height;
  &__inner {
    position:: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $nav-height;
    padding: 0 .8rem;
    transition: all .6s ease-in-out;
    background-color: rgba(250,250,250,1);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .navigation__container {
      width: $content-width-md;
      max-width: $screen-lg;
      height: $nav-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: width .3s ease-in-out;
    }
    .logo {
      display: block;
      width: 30px;
      margin-bottom: 6px;
      svg {
        display: block;
        width: 160px;
        height: $nav-height;
        // in order to align the U
        .lt-u {
          transform: translateY(15px);
          transition: all .3s ease-in-out;
        }
        // Hide other letters
        .txt {
          transition: all .3s ease-in-out;
          opacity: 0;
        }
      }
      @media (min-width: $screen-md) {
        width: 190px;
        svg {
          width: 100%;
          height: ($nav-height-lg - 10);
          .lt-u {
            transform: translateY(0);
          }
          .txt {
            fill: #000;
            opacity: 1;
          }
        }
      }
    }
  }
  &.job {
    .header__inner {
      @media (min-width: $screen-sm) {
        .navigation__container {
          width: 100%;
          max-width: 1100px;
        }
      }
    }
  }
  &.scrolledPast {
    .header__inner {
      background-color: rgba(250,250,250,.9);
      .navigation__container {
        max-width: 1100px;
        width: 100%;
      }
    }
  }

  .hamburger {
    display: block;
    @media (min-width: $screen-sm) {
      display: none;
    }
  }
  .navigation {
    position: fixed;
    top: $nav-height;
    left: 0;
    background-color: rgba(250,250,250,.9);
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 $spacing-sm 6rem $spacing-sm;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      justify-content: flex-end;
      flex-direction: row;
    }

    // Initial hide navbar
    transition: transform .3s ease-in-out;
    transform: translateX(-120%);
    backface-visibility: hidden;

    &.open {
      transform: translateX(0);
      opacity: 1;
    }

    @media (min-width: $screen-sm) {
      top: 0;
      left: auto;
      flex: 1;
      overflow: visible;
      position: relative;
      text-align: right;
      background-color: transparent;
      transform: translateX(0);
      padding: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      @media (min-width: $screen-sm) {
        flex-direction: row;
      }
      &.nav-contact-item {
        margin-top: 2rem;
        @media (min-width: $screen-sm) {
          margin-top: 0;
        }
      }
    }
    &__item {
      position: relative;
      display: block;
      margin: .3rem;
      text-align: center;
      font-size: 1.4rem;
      @media (min-width: $screen-sm) {
        margin: .8rem;
        text-align: right;
        font-size: 1rem;
        &:hover {
          color: $color-primary;
        }
      }
      color: $body-color;
      text-transform: lowercase;
      text-decoration: none;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        transform: translate3d(-50%, 4px, 0);
        @media (min-width: $screen-sm) {
          left: 0;
          transform: translate3d(0, 4px, 0);
        }
        background-color: transparent;
        transition: all .5s ease-in-out;

        opacity: 0;
      }
      &.active {
        color: $color-primary;
        &::after {
          // transform: translate3d(-50%, 4px, 0);
          background-color: #000;
          opacity: 1;
          width: 50%;
          @media (min-width: $screen-sm) {
            width: 100%;
          }
        }
      }
    }
  }

  .navigation__contact {
    display: block;
    margin-top: $spacing-md;
    opacity: 0;
    position: fixed;
    top: $nav-height / 2;
    right: 0;
    width: 100%;
    height: auto;
    transform: translateX(120%);
    background-color: rgba(250,250,250,.9);
    transition: transform .2s ease-in-out;
    padding: $spacing-md;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    z-index: 10;
    @media (min-width: $screen-sm) {
      width: 390px;
    }
    &.contactOpen {
      display: block;
      opacity: 1;
      transform: translateX(0);
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        margin: 0;
      }
    }
    .contact-form-send {
      text-align: right;
      margin-top: $spacing-md;
    }
    .social-buttons {
      text-align: center;
      margin-top: $spacing-md;
      .icon-social  {
        display: inline-block;
        svg {
          width: 50px;
          height: 50px;
          fill: $color-primary;
          opacity: .4;
          transition: all .2s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
body.contact--open {
  position: fixed;
  @media (min-width: $screen-sm) {
    position: static;
  }
}
